@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.App {
  text-align: center;
  
}
html {
  background-image: url("background_image.jpg");
  background-attachment: fixed;
  

}
body {
  font-family: 'Nunito', sans-serif;
  
}

header,footer{
  background-color: #9d7b5b;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0% 1% 0% 1%;
  font-size: 16px;
}

header > h1 {
  font-size: 36px;
}

#bodyContainer{
  background-color: #ccac84;
  border-radius: 1em;
  padding: 0.5% 0.5% 0.2% 0.5%;
  margin: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  font-size: 12px; 
  color: white;
}

#endColumn {
  background-color: #886d49;
  border-radius: 0.5em;
  padding: 0% 1% 0% 1%;
  margin: 5px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px; 
  color: white;
}

#mainColumn {
  background-color: #886d49;
  border-radius: 0.5em;
  padding: 0% 1% 0% 1%;
  margin: 5px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  font-size: 15px; 
  color: white;
  overflow: auto;
}

#startColumn {
  background-color: #886d49;
  border-radius: 0.5em;
  padding: 0% 1% 0% 1%;
  margin: 5px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  font-size: 15px; 
  color: white;
}

#mainColumn {
  flex: 4;
}

#startColumn, #endColumn {
  flex: 2;
}

#adminPanel {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  margin-top: 7px;
}

#adminPanel legend {
  font-size: 30px;
  font-weight: bold;
}

#adminPanel button {
  height: 50px;
  margin: 5px 0px 5px 0px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0.5em;
}

#startColumn div{
  width: 100%;
  margin: 1% 0% 5% 0%;
}

#selectors {
  text-align: left;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  padding: 1% 0% 1% 0%;
  background-color: #ccac84;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 2.50% ;
  margin-top: 2%;
}
#topics{
  width: 97%;
}
#categories{
  width: 97%;
}

#selectors label {
  margin: 0% 0% 0% 1%;
}

.selDiv {
  padding: 1% 0% 1% 0%;
}

.selDiv select {
  width: 75%;
  margin: 0% 0% 0% 1.5%;
  border-radius: 0.5em;

}

#search {
  width: 80%;
  height: 35px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5em;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

#allPosts {
  overflow: auto;
  max-height: 80vh;
  border: 0.5em;
}

.ColumnMain{
  background-color: #9d7b5b;
  border: 2px solid;
  border-radius: 0.5em;
  margin-bottom: 3%;
}
#showBtn {
  margin-bottom: 5px;
}
#firstParagraph{
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 0.5em;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

#firstLine{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 0.5em;
}
#secondLine{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 0.5em;
  align-items: center;
  padding: 0% 1% 0% 1%;
}

#likes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.5em;
  align-items: center;
  
}
#likeBtn {
  background-image: url('./images/like.svg');
}
#dislikeBtn {
  background-image: url('./images/dislike.svg');
}
#deleteBtn {
  background-image: url('./images/trash.svg');

}
#likeBtn, #dislikeBtn{
background-size: 22px 22px;
background-color: rgba(0,0,0,0);
width: 22px;
height: 22px;
border: none;
margin: 10px;
}

#deleteBtn {
  background-size: 20px 20px;
  background-color: rgba(0,0,0,0);
  width: 20px;
  height: 20px;
  border: none;
}
#likeBtn:hover{
  cursor: pointer;
}
#dislikeBtn:hover{
  cursor: pointer;
}
#deleteBtn:hover{
  cursor: pointer;
}

.tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b39a7c;
  /* padding: 0% 1% 0% 1%; */
  border: 3px solid white;
  border-radius: 0.5em;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  
}
#ranked, #recent, #stats {
  overflow: auto;
  max-height: 20vh;
  border: 0.5em;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 2px solid white;
  padding: 5px;
}
#overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
#showBtn {
  height: 30px;
  width: 80px;
  border-color: white;
  border-radius: 0.5em;
  margin-bottom: 10px;
  margin-right: 10px;
}
#clearBtn {
  height: 30px;
  width: 80px;
  border-color: white;
  border-radius: 0.5em;
  margin-bottom: 10px;
  margin-left: 10px;
}
.deletePrompt {
  text-align: center;
}
.buttonPrompt {
  display:flex;
  justify-content: center;
  padding: 10px;
}